# pip install pip-tools
# pip-compile requirements.in
# pip install -r requirements.txt
# pip-compile --upgrade
aiogram
SQLAlchemy
asyncpg
pydantic-settings
python-dotenv
tzdata
aiohttp
alembic
psycopg2-binary==2.9.10
colorlog
ruff
black
mypy
pre-commit


